body{
	font-family:"Allerta";
	margin: 0;
}

.titulo{
	font-size:70px;
	font-family:"Montserrat";
	margin-bottom: 0;
	margin-top:70px
}


.title-a{
	font-size:40px;
	margin-top:0;	
}

.title-b{
	font-size:40px;
	margin-bottom:20px;
}


.button{
	margin-bottom:70px;
	border-radius:5px;
	background: #fd324e;
	color:white;
	border:none;
	padding:.5em;
}



.guitarras{
	color:#1F313C;
}

	.guitarras h2{
	   font-size:35px;  
	  font-family:"Montserrat";
	}
    .guitarra{
      padding:10px;
      margin:10px;
      border:1px solid #1F313C;
      border-radius:8px;
    }
    .guitarra ol{
    	padding:0;
    }
	.guitarra .img-b{
		float:right;
		position:relative;
		top:-127px;
	}

	.contenedor-guitarra-b{
       margin-left:370px;
	}

    
	.guitarra .img-a{
		float:left;
		position:relative;
		top:150px;
	}

	.contenedor-guitarra-a{
       padding-left:20px;
	}


.portada{
	background-image:url('../images/background.png');
	color:white;
	padding:  20px;
}

.logotipo{
	display:inline-block;
}


.menu{
	 font-size:24px;
	 display:inline-block;
	 vertical-align:top;
	 position:absolute;
	 right:0;
}
 
  .menu li{
    display:inline-block;
    margin-left: 30px;
  }


.header{
	position:relative;
}

.footer{
	background:#294152;
}

  .contacto img{
  	 display:block;
  }

  .contacto strong{
  	display:block;
  }

  .contacto a{
  	color:white;
  	text-decoration:none;
  }


/*HELPERS */

.margen{
  	width: 800px;
	margin:0 auto;
}

